---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-cli
  namespace: external-secrets
stringData:
  BW_HOST: "{{ BW_HOST }}"
  BW_USERNAME: "{{ BW_USERNAME }}"
  BW_PASSWORD: "{{ BW_PASSWORD }}"
  BW_CLIENTID: "{{ BW_CLIENTID|default('', true) }}"
  BW_CLIENTSECRET: "{{ BW_CLIENTSECRET|default('', true) }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-item-ids-secret
  namespace: flux-system
stringData:
  FLUX_BITWARDEN_ITEM_ID: "{{ FLUX_BITWARDEN_ITEM_ID }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-item-ids-secret
  namespace: cert-manager
stringData:
  CLOUDFLARE_BITWARDEN_ITEM_ID: "{{ CLOUDFLARE_BITWARDEN_ITEM_ID }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-item-ids-secret
  namespace: network
stringData:
  CLOUDFLARE_BITWARDEN_ITEM_ID: "{{ CLOUDFLARE_BITWARDEN_ITEM_ID }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: "{{ CLOUDFLARE_TUNNEL_ID }}"
